Crypto Go ：we are a research group to help developers build secure applications.

Hi, we are a research group to help developers build secure applications. We designed a cryptographic misuse detector (i.e., CryptoGo) on Go language. We found your great public repository from Github, and several security issues detected by CryptoGo are shown in the following. 
Note that the cryptographic algorithms are categorized with two aspects: security strength and security vulnerability based on NIST Special Publication 800-57 and other public publications. Moreover, CryptoGo defined certain rules derived from the APIs of Go cryptographic library and other popular cryptographic misuse detectors. The specific security issues we found are as follows:
Location: sign.go:174; 
Broken rule: RSASSA-PKCS1-v1_5 is deprecated;
 We wish the above security issues could truly help you to build a secure application. If you have any concern or suggestion, please feel free to contact us, we are looking forward to your reply. Thanks.

This library supports both [signing](https://github.com/pascaldekloe/jwt/blob/6dbf3224dae7caedadd5a042958d389bccb35080/sign.go#L174) and [verification](https://github.com/pascaldekloe/jwt/blob/6dbf3224dae7caedadd5a042958d389bccb35080/check.go#L169) with RSASSA-PKCS1-v1_5. Go did not deprecate either [the sign](https://pkg.go.dev/crypto/rsa#SignPKCS1v15) nor [the verify](https://pkg.go.dev/crypto/rsa#VerifyPKCS1v15) function.

> “Although no attacks are known against RSASSA-PKCS1-v1_5, in the interest of increased
> robustness, RSASSA-PSS is REQUIRED in new applications.  RSASSA-PKCS1-v1_5 is included
> only for compatibility with existing applications.”
> — [RFC 8017, section 8](https://www.rfc-editor.org/rfc/rfc8017#section-8)

> “It is RECOMMENDED that implementations also support RSASSA-PKCS1-v1_5 with the
> SHA-256 hash algorithm ("RS256") …”
> — [RFC 7519, section 8](https://www.rfc-editor.org/rfc/rfc7519#section-8)

Went with [deprecation of the RS algorithms](https://github.com/pascaldekloe/jwt/commit/66ac1b1b07ba4bb22f920130a6671a765753929d) for now.